<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Udyokam</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/findjobs']">Find a Job</a></li>
        <li><a [routerLink]="['/post-a-job']">Post A job</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>
