<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
  <div class="panel panel-default search-component">
    <div class="panel-body">
      <div class="form-horizontal">
        <form role="form" [formGroup]="postJobForm" (ngSubmit)="onSubmit()">
          <fieldset>

            <legend>Enter Your Job Information</legend>
            <br>
            
            <ngb-alert *ngIf="successMessage" type="{{alertType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="jobTitle">Job Title</label>
              <div class="col-sm-9">
                <input maxlength="100" type="text" name="jobTitle" required="required" class="form-control" placeholder="Job Title" formControlName="title">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group" formGroupName="jobType">
                <label class="col-sm-6 control-label" for="jobType">Job Type</label>
                <div class="col-sm-6" style="padding-left:8px">
                  <select required="required" class="form-control" name="jobType" formControlName="id">
                    <option *ngFor="let item of jopTypes" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group" formGroupName="industry">
                <label class="col-sm-6 control-label" for="industry">Industry</label>
                <div class="col-sm-6" style="padding:0px">
                  <select required="required" class="form-control" name="industry" formControlName="id">
                    <option *ngFor="let item of industries" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="description">Job Description</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="3" name="description" formControlName="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="company">Company Name</label>
              <div class="col-sm-9">
                <input maxlength="100" type="text" required="required" class="form-control" name="company" formControlName="company">
              </div>
            </div>
            <div formGroupName="location">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="card-number">Address</label>
                  <div class="col-sm-6" style="padding-left:8px">
                    <input maxlength="100" type="text" required="required" name="addressOne" class="form-control" formControlName="addressOne">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="col-sm-6" style="padding:0px">
                    <input maxlength="100" type="text" name="addressTwo" class="form-control" formControlName="addressTwo">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="city">City</label>
                  <div class="col-sm-6" style="padding-left:8px">
                    <input maxlength="100" type="text" required="required" name="city" class="form-control" placeholder="Enter City" formControlName="city">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="province">State/Province</label>
                  <div class="col-sm-6" style="padding:0px">
                    <input maxlength="100" type="text" required="required" class="form-control" name="province" placeholder="" formControlName="province">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="postalCode">Postal Code</label>
                  <div class="col-sm-6" style="padding-left:8px">
                    <input maxlength="100" type="text" required="required" name="postalCode" class="form-control" formControlName="postalCode">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group" formGroupName="country">
                  <label class="col-sm-4 control-label" for="country">Country</label>
                  <div class="col-sm-8" style="padding:0px">
                    <select required="required" class="form-control" name="country" formControlName="id">
                      <option value="0">Select Country</option>
                      <option value="1">Pakistan</option>
                      <option value="2">USA</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!--For New user-->
            <div id="newUser">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="userEmail">Registration Email</label>
                  <div class="col-sm-6" style="padding-left:8px">
                    <input maxlength="100" type="email" required="required" name="userEmail" class="form-control" placeholder="Email for Registration" formControlName="userEmail">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="password">Password</label>
                  <div class="col-sm-6" style="padding:0px">
                    <input maxlength="100" type="password" required="required" name="password" class="form-control" placeholder="" formControlName="password">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="confirmPassword">Confirm Password</label>
                  <div class="col-sm-6" style="padding:8px">
                    <input maxlength="100" type="password" id="confirmPassword" required="required" name="confirmPassword" class="form-control" formControlName="confirmPassword">
                  </div>
                </div>
              </div>
            </div>
            <!--New User Div END-->
            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-offset-3">
                <button type="submit" class="btn btn-default">Publish</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
