
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default search-component">
      <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">

          <form class="" [formGroup]="findForm" (ngSubmit)="onFind()">
            <div class="form-group col-md-5">
              <label for="keyword">Keywords</label>
              <input type="text" class="form-control" name="keyword"  formControlName="keyword" 
                      placeholder="Job Title, Company Name">
            </div>
            <div class="form-group col-md-5">
              <label for="location">Location</label>
              <input type="text" class="form-control" name="location"  formControlName="location" 
                      placeholder="Brampton, ON">
            </div>
            <div class="form-group col-md-2" style="padding-top: 24px;">
              <button type="submit" class="btn btn-default form-control">Find</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">

</div>

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
   <ngb-alert *ngIf="successMessage" type="{{alertType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<div *ngIf="this.jobs.length !== 0"> 
  <div class="row" *ngFor="let job of jobs" style="margin-bottom: 0;">

    <section class="experience section">
      <div class="section-inner">
        <h2 class="heading">{{job.title}}</h2>
        <div class="content">
          <!--//item-->
          <div class="item">
            <h3 class="title">{{job.company}} -- {{job.location.city}} {{job.location.province}} {{job.location.postalCode}}
              <span class="year">(2013 - 2014)</span>
            </h3>
            <!--<p>{{job.description}}</p>-->
            <p></p>
          </div>
          <!--//item-->
        </div>
        <!--//content-->
        <footer><a class="more-link" [routerLink]="['/viewjob', job.id]"><i class="fa fa-external-link"></i> Find out more</a></footer>
      </div>
      <!--//section-inner-->
    </section>

  </div>
</div>
</div>